
* {
	margin: 0;
	padding: 0;
	border: 0;

}

body {

	margin: 5px;
	background-color: #28215C;
	color: #FFFFFF;

	/*font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  	font: 14px/1.25 "Helvetica Neue", sans-serif;

	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.mainInfo {
	height: 40px;
	text-align: center;
	line-height: 40px;

	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #000;
	background-color: #3C328B;
	color: #FFFFFF;	
	
	font-size: 28px;
	
}

.valueInfo {
	
	background-color: #3C328B;
	color: #FFFFFF;
}


.divSelect {
	border-bottom: 1px solid #000;	
	padding: 5px;
}

input[type="text"] {
	
border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff;
}

#divButtons {

	width: 100%;
	text-align: center;
}

.Redondeado
{
/* Firefox (Gecko) */
-moz-border-radius:10px;

/* Chrome y Safari (WebKit) */
-webkit-border-radius:10px;

/* Konqueror (KHTML) */
-khtml-border-radius:10px;

/* Opera (Presto) */
border-radius:10px;
}
